/**
 * Front.php specific css styles.
 */
#notes {
    margin-top: 8ex;
    width: 40%;
    float: right;
}

ul#places {
    padding-left: 0;
}

#content {
    float: left;
    width: 60%;
}

.whoami {
    color: #aaaaaa;
    position: relative;
    left: 0;
    margin-top: 0.5ex;
    font-family: sans;
    font-size: 1.75em;
    font-variant: small-caps;
}

.whoami.lesser {
    left: -65%;
}

.story {
    text-align: right;
}

.story.lesser {
    color: rgba(85, 85, 85, 0.20);
}
