/**
 * Global CSS Styles
 */
body {
    font-size: 1.5ex;
}

a {
    color: #7a63ff;
    text-decoration: none;
}

a:focus, a:hover, a:active {
    outline: 0;
}

/* page sections */
#main {
    width: 675px;
    margin: auto;
}

.item-list {
    list-style-type: none;
}
