/**
 * Global CSS Styles
 */

body {
    font-size: 1.5ex;
    color: #555555;
    padding: 12px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.clearfix {
  clear: both;
  display: block;
  height: 1px;
  visibility: hidden;
}

*:active, *:focus {
  outline: none;
}

a:focus, a:hover, a:active { outline: 0; }

a {
    color: rgb(122, 99, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code,
input[type=text].code {
  font-weight: bold;
  background-color: #eeeeee;
  padding: 1px 2px 1px 2px;
  border: 0;
  outline: 1px solid #dddddd;
  font-size: 1.15em;
  line-height: inherit;
  font-family: monospace;
}

input[type=text].code {
  font-weight: normal;
  width: 28em;
  text-align: center;
}

/* page sections */
#main {
    width: 675px;
    margin: 0 auto 0 auto;
    padding: 6px;
}

.section {
  padding-left: 1em;
}

