/**
 * Global CSS Styles
 */
body {
    font-size: 1.5ex;
    color: #555555;
}

a {
    color: #7a63ff;
    text-decoration: none;
}

a:focus, a:hover, a:active {
    outline: 0;
}

/* page sections */
#main {
    width: 675px;
    margin: auto;
}

/* seo-friendly styling */
#main { position: relative; }
#content, #notes { position: absolute; }
#content { right: 0; } 
#notes { left: 0; }

.item-list {
    list-style-type: none;
}
