/**
 * Global CSS Styles
 */
body {
    font-size: 1.5ex;
    color: rgba(85, 85, 85, 1);
}

a:focus, a:hover, a:active { outline: 0; }

a {
    color: rgba(122, 99, 255, 1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* page sections */
#main {
    width: 675px;
    margin: auto;
}

/* seo-friendly styling */
#main { position: relative; }
#content, #notes { position: absolute; }
#content { right: 0; } 
#notes { left: 0; }

.item-list {
    list-style-type: none;
}
